.wrapper {
  border: 5px solid #ffcc5c;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}
.wrapper > div {
  padding: 10px;
  text-align:center;
  border-radius: 10px;
}
.wrapper > div > p { color: #fff;}
.wrapper > div:nth-child(2) { background-color: #68a; }
.wrapper > div:nth-child(1) { background-color: #65b; }
.wrapper > div:nth-child(3) { background-color: #66e; }
